* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
background-color: rgb(255, 255, 255);
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.header h1 {
  font-size: 50px;
  color: #f03535;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background: rgb(56, 56, 56);
  border-radius: 15px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f03535;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}
.leftcolumn img{
width: 800px;
height: 300px;
}


/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
 
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  
  width: 50%;
  height: 50%;;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 15px;
 
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(248, 248, 248);
}
.card a{
  color: #f03535;
  
}
.card p{
  color: #f03535;

}
.card h2 {
  color: #f03535;
  margin-bottom: 10px;
}
.card h3 {
  color: #f03535;
  margin-bottom: 10px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: rgb(255, 255, 255);
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 15px;
  
}

.footer h2 {
  color: #f03535;
}