body{
    color:#000;
    background-color:#f1f1f1
}

.flex-container {
    
    flex-wrap: nowrap;

  }

  
/* Left Column */
.left-column{
    padding: 10px;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #64ddbb;
    float: left;
    
}
.display-container{
    position: relative;
    text-align: center;
    color: white;
}
.image-text{
  color: rgb(0, 0, 0);
    position: absolute;
    top: 160px;
    left: 10px;
}
.fa{
color: rgb(0, 197, 197);
padding-right: 18px;
}
.rounded-box{
    background-color:#f1f1f1;
    border-radius: 10px;
}
.rounded-box-2{
    border-radius: 15px;
    background-color:#009688;
    text-align: center;
    color: white;
    
}

/*top right Column */
.top-right-column{

margin-left: 373px;
padding: 20px;
width: 68%;
box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
background-color: white;
border-radius: 15px;
border: 1px solid #64ddbb;
}

.right-container h5{
    color:black;
    opacity:0.60;
    font-size: 18px;
    padding-left: 20px
}
.right-container h6{
    font-size: 15px;
    color:#009688;
    padding-left: 20px;
  
}
.right-container span{
    color: white;
    background-color:#009688;
    border-radius: 5px;
}.right-container p{
    padding-left: 20px
}


/*bottom right Column */
.bottom-right-column{
    margin-top: 20px;
    margin-left: 373px;
    padding: 20px;
    width: 68%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #64ddbb;
}


/*footer */
footer{
    margin-top: 10px;
    padding: 10px;
    background-color:#009688;
    text-align: center;
}